.command-container {
    margin-top: 40px;
    /* border: 1px solid black; */
    width: 65%;
    margin: auto;
}

.command-input-container {
    width: 100%;
    max-width: 1010px;
    margin: auto;
    /* border: 1px solid black; */
}

/*TODO make it so text can wrap in the text area*/
.command {
    width: 100%;
    max-width: 1000px;
    height: 100px;
    margin: auto;
    background-color: #A112FF;
    color: white;
    font-family: "Source Code Pro", monospace;
    font-weight: bold;
    font-size: .8rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: none;
    border-radius: 2px;
}

.command::placeholder {
    color: white;
    font-weight: bold;
    background-color: #A112FF;
}

input.command[type="text"] {
    color: transparent;
    text-shadow: 0 0 0 #fff;
}

input.command[type="text"]:focus {
    outline: none;
}

.btns-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-top: 10px;
}