.generated-command-container {
    padding-top: 45px;
    height: fit-content;
    width: fit-content;
    min-height: 100px;
    max-width: 1000px;
    min-width: 1000px;
    margin: auto;
}

.generated-command {
    font-family: "Source Code Pro", monospace;
    font-weight: normal;
    font-size: 1.2rem;
    background-color: var(--sg-black);
    padding-top: 25px;
    padding-bottom: 25px;
    color: var(--sg-mint);
    border-radius: 6px;
}

.btns-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}