.deployment-container {
    width: 50%;
    text-align: left;
    max-width: 500px;
}

.deployment-type {
    width: 100%;
}

.dropdown-menu {
    border: 1px solid lightgray;
    border-radius: 2px;
    font-family: "Source Sans Pro", monospace;
    font-size: 1rem;
    color: rgb(47, 47, 47);
    outline: #00CBEC;
    padding: 5px;
    max-width: 350px;
    min-width: fit-content;
}

.text-input {
    border: 1px solid lightgray;
    border-radius: 4px;
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
    color: rgb(47, 47, 47);
    outline: #00cbec;
    padding: 5px;
    padding-left: 10px;
    margin-top: 3px;
    height: 25px;
    max-width: 300px;
    min-width: 200px;
}

.namespace-check {
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: .8rem;
}

.namespace-label {
    margin-left: 4px;
}

.namespace-input {
    margin-top: 10px;
    width: 100%;
}