.desc-list {
    list-style: none;
    text-align: left;
    font-family: "Source Code Pro", monospace;
    font-size: .7rem;
}

.description {
    list-style: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

.row {
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    cursor: default;
}

.expand {
    border: none;
    background-color: white;
    font-family: "Source Code Pro", monospace;
    font-size: .7rem;
    cursor: pointer;
    transition: .2s;
}


.info-key {
    font-weight: bold;
}