.actions-container {
    padding-top: 10px;
    width: 100%;
    max-width: 350px;
    text-align: left;
    /* border: 1px solid black; */
}

.action-option {
    margin-top: 10px;
    width: 100%;
    /* border: 1px solid black; */
}