@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.App {
  text-align: center;
  margin-top: 100px;
}

.container {
  width: 65%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.actions {
  /* border: 1px solid #00cbec; */
  display: flex;
  flex-flow: column nowrap;
  width: 45%;
  min-width: 400px;
  min-height: 325px;
  margin-left: auto;
  margin-right: 0px;
}

.line-break {
  height: 275px;
  min-height: 275px;
  border-left: 1px solid lightgray;
}

.descriptions {
  width: 50%;
  min-height: 325px;
  min-width: 400px;
  /* border: 1px solid #00cbec; */
}

.logo {
  width: 300px;
}

.subtitle {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 1.5rem;
}

.section {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: left;
}

.deploy-container {
  /* border: 1px solid #00cbec; */
  width: 85%;
  margin-left: auto;
}
