@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

.App {
  text-align: center;
}

.actions {
  border: 1px solid black;
  margin:auto;
  display: flex;
  flex-flow: row nowrap;
  width: 65%;
}
