body {
  margin: 0;
  font-family: sfmono-regular, consolas, menlo, dejavu sans mono, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: sfmono-regular, consolas, menlo, dejavu sans mono, monospace;
}

select, input[type="text"]{
  width:100%;
  box-sizing:border-box;
}
