:root {
  --sg-blurple: #5033e1;
  --sg-light-gray: #f4f7fb;
  --sg-vermillion: #ff5543;
  --sg-violet: #a112ff;
  --sg-mint: #8fedcf;
  --sg-black: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}