/* .generate-btn-container {
    width: 91%;
    text-align: left;
} */

button.generate-btn:disabled,
button.generate-btn[disabled] {
    border: 2px solid lightgray;
    border-radius: 3px;
    background-color: #ffffff;
    color: lightgray;
    width: fit-content;
    padding-right: 22px;
    padding-left: 22px;
    height: 40px;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.0rem;
    margin-top: 10px;
}

.generate-btn {
    border: 2px solid #A112FF;
    border-radius: 3px;
    background-color: #ffffff;
    color: #A112FF;
    width: fit-content;
    padding-right: 22px;
    padding-left: 22px;
    height: 40px;
    font-family: "Source Sans Pro",
        Arial,
        Helvetica,
        sans-serif;
    font-weight: 600;
    font-size: 1.0rem;
    margin-top: 10px;
    margin-right: 10px;
}

.generate-btn:hover {
    background-color: #A112FF;
    color: white;
    cursor: pointer;
    padding-right: 22px;
    padding-left: 22px;
    margin-top: 10px;
}