.or-container {
    width: 65%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.or {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: regular;
    width: 20px;
    width: 58px;
}

.dash {
    border-bottom: 1px solid black;
    height: 0px;
    width: 100px;
}